In [ ]:
#bài 1
l = list(map(int, input().split()))
d = {}
for i in l:
    if i not in d:
        d[i] = 1
    elif i in d:
        continue
print(list(d))

1 2 2 3 1 4
[1, 2, 3, 4]

In [ ]:
#bài 2
l = list(map(int, input().split()))
for i in range(len(l)-1):
    l[i+1] = l[i] + l[i+1]
print(l)

1 2 3 4
[1, 3, 6, 10]

In [ ]:
#bài 3
l = list(map(int, input().split()))
n = int(input())
for i in range(1,n+1):
    l.append(l[0])
    l.remove(l[0])
print(tuple(l))

1 2 3 4 5
2
(3, 4, 5, 1, 2)

In [ ]:
#bài 4
s = input().split()
d = {}
for i in s:
    key,value = i.split(":")
    if key not in d:
        d[key] = [value]
    else:
        d[key].append(value)
print(d)

a:1 b:2 c:3
{'a': ['1'], 'b': ['2'], 'c': ['3']}

In [ ]:
#bài 5
l = list(map(int, input().split()))
d = {"positives": 0, "negatives":0, "zeros":0}
for i in l:
    if i > 0:
        d["positives"] += 1
    elif i < 0:
        d["negatives"] += 1
    elif i == 0:
        d["zeros"] += 1
print(d)

1 -2 0 3 -4 0 0
{'positives': 2, 'negatives': 2, 'zeros': 3}

In [ ]:
#bài 6
l = list(map(int, input().split()))
print(sum(l))

1 2 3 4
10

In [ ]:
#bài 7
l = list(map(str, input().split()))
f = l[0]
t = l[-1]
l = l[::-1]
print(f,t,tuple(l))

 5 8 2 7 1 4
5 4 ('4', '1', '7', '2', '8', '5')

In [ ]:
#bài 8
l = list(map(str, input().split()))
d = {}
for i in l:
    if i not in d:
        d[i] = 1
    else:
        d[i] += 1
print(d)

cat cat mouse dog dog cat bird
{'cat': 3, 'mouse': 1, 'dog': 2, 'bird': 1}

In [ ]:
#bài 9
a = eval(input())
b = eval(input())
c = {}
for i in a:
    if i in b:
        c[i] = a[i] + b[i]
    else:
        c[i] = a[i]
for i in b:
    if i not in c:
        c[i] = b[i]
print(c)

{'a': 1, 'b': 2}
{'c': 3, 'b': 4}
{'a': 1, 'b': 6, 'c': 3}

In [ ]:
#bài 10
l = list(map(int, input().split()))
k = int(input())
a = set()
for i in range(len(l)):
    for j in range(i + 1, len(l)):
        if l[i] + l[j] == k:
            a.add((l[i], l[j]))
result = sorted(list(a))
print(result)

1 1 1 1 1
2
[(1, 1)]

In [ ]:
#bài 11
l = list(map(int, input().split()))
a = []
b = []
for i in l:
    if i%2 == 0:
        a.append(i)
    else:
        b.append(i)
print(tuple(a))
print(tuple(b))

1 10 2 9 3 8 4 7 5 6
(10, 2, 8, 4, 6)
(1, 9, 3, 7, 5)

In [ ]:
#bài 12
l = list(map(int, input().split()))
s = set(l)
a = []
b = []
for i in s:
    a.append(l.count(i))
k = max(a)
for i in s:
    if l.count(i) == k:
        b.append(i)
print(min(b))

5 5 5 1 1 1 8 9
1

In [ ]:
#bài 13
s = input().split()
d = {}
for i in range(0,len(s),2):
    d[s[i+1]] = s[i]
print(d)

code A-1 user B_2
{'A-1': 'code', 'B_2': 'user'}

In [ ]:
#bài 14
a = list(map(int, input().split()))
b = list(map(int, input().split()))
c = set()
for i in a:
    if i in b:
        c.add(i)
print(list(c))

1 2 3 4 4 5
4 5 6 7 5 8
[4, 5]

In [ ]:
#bài 15
s = input().split()
k = int(input())
d = {}
a = {}
for i in range(0,len(s),2):
    d[s[i]] = int(s[i+1])
for k_,v in d.items():
    if d[k_] > k:
        a[k_] = v
print(a)

red 50 green 50 blue 60
50
{'blue': 60}

In [3]:
#bài 16
row = int(input())
col = int(input())
s = 0
for i in range(row):
    for j in range(1,col+1):
        s += 1
        print(f"{s:4d}", end="")
    print()

4
5
   1   2   3   4   5
   6   7   8   9  10
  11  12  13  14  15
  16  17  18  19  20

In [1]:
#bài 17
row = int(input())
col = row
n = []
s = 0
for i in range(row):
    n.append([])
    for j in range(1,col+1):
        s += 1
        n[i].append(s)
for i in range(len(n)):
    print(n[i][i], end = " ")
print()
k = len(n)
for i in range(len(n)):
    k -= 1
    print(n[i][k], end = " ")

3
1 5 9
3 5 7

In [4]:
#bài 18
row, col, k = map(int, input().split())
s = 0
mat = []
n = []
for i in range(row):
    mat.append([])
    for j in range(1,col+1):
        s += 1
        mat[i].append(s)
row_k = sum(mat[k-1])
col_k = 0
for i in range(len(mat)):
    col_k += mat[i][k-1]
print(row_k, col_k)

3 4 2
26 18

In [ ]:
#bài 19
def m_a_x(l):
    return l.index(max(l)) +1
l = list(map(int, input().split()))
print(m_a_x(l))

34 25 67 89 100 1000
6

In [ ]:
#bài 20
def find(l,k):
    if k in l:
        return l.index(k) +1
    return -1
l = list(map(int, input().split()))
k = int(input())
print(find(l,k))

34 25 67 89 100 1000 34 25 67 89 100 1000
89
4

In [ ]:
#bài 21
s = input().split()
d = {}
for i,v in enumerate(s):
    if v not in d:
        d[v] = [s.index(v)]
    else:
        d[v].append(i)
for k,v in d.items():
    d[k] = tuple(v)
print(d)

cat dog cat mouse
{'cat': (0, 2), 'dog': (1,), 'mouse': (3,)}

In [ ]:
#bài 22
def m_a_x(l):
    return l.index(max(l)) +1
l = list(map(int, input().split()))
print(m_a_x(l))

2 45 67 12 90 23
5